
.cv_section {
    color: #005677;
    background-color: #c4c4c4;
    padding-left: 5px;
}
header {
    text-align: center;
}
header h1{color: #005677;
    background-color: #c4c4c4;
    text-transform: uppercase;
}
span {
    font-weight: 900;
}

.list_level_one {
    display: flex;
    list-style: none;
}

.list_level_one ul {
    display: inline-block;
    list-style: none;
}

#personal_data span {
    font-style: italic;
}